:root {
  --app-color-primary: #686bd2;
  --app-color-secondary: #00806e;
  --font-family: sans-serif;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  height: 100%;
  background: rgb(36,36,36);
  background: linear-gradient(135deg, rgba(36,36,36,1) 22%, rgba(104,107,210,1) 100%);
}

html img {
  position: absolute;
  bottom: 0;
  right: 16px;
  width: 40em;
  background: transparent;
}

@media (max-width: 800px) {
  html img {
    display: none;
  }
}